@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Roboto&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400;500&display=swap");

@import url("components/navbar.css");
@import url("components/video.css");
@import url("components/images.css");
@import url("components/footer.css");
@import url("components/cards.css");
@import url("components/animations.css");

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.boxed-wrapper {
  display: block;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  font-family: 'Kanit', sans-serif;
  font-weight: 300;
  color: white;
  background-color: black;
  min-height: 100%;
  overflow-x: hidden;
}

/* *******TEXT********* */
.container {
  background-color: rgba(255,255,255,0);
  margin: auto;
  padding: auto;
  display: flex;
}

#border-bottom {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #D087DA 86.98%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
  height:20px;
}

#border-top {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #D087DA 86.98%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transform: matrix(1, 0, 0, -1, 0, 0);
  width: 100%;
  height:20px;
}

#event-border-top {
  background: linear-gradient(180deg, #000000 0%, #D087DA 86.98%, #000000 100%);

  width: 100%;
  height:50px;
}

#event-border-bottom {
  background: linear-gradient(180deg, #000000 0%, #D087DA 86.98%, #000000 100%);

  transform: matrix(1, 0, 0, -1, 0, 0);
  width: 100%;
  height:50px;
}

.text-wrapper {
  box-sizing: border-box;
  /* background-color: #000000; */
  text-align: center;
  position: relative;
  padding-left: 200px;
  padding-right: 200px;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 100%;
  display: block;
}

a{
  color: #0eebdc;
  text-decoration: none;
}

a:hover {
  color: #e678f4;
  transition: 0.5s;
}

h1 {
  font: 60px 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: #0eebdc;
  text-align: center;
  text-size-adjust: auto;
  padding: 00px 40px;
}

h2 {
  padding: 40px 80px;
  font: 40px 'Montserrat', sans-serif;
  color: white;
  font-weight: bold;
}

h3 {
  padding-bottom: 40px;
  font: 50px 'Montserrat', sans-serif;
  color: #0eebdc;
  margin: auto;
}

h4 {
  padding-bottom: 40px;
  font: 30px 'Montserrat', sans-serif;
  color: #0eebdc;
  margin: auto;
}

p {
  margin: 00px 20px;
  font: 35px 'Montserrat', sans-serif;
}

.caption {
  display: flex;
  text-align: center;
  position: absolute;
  top: 40%;
  letter-spacing: 8px;
  font: 'Montserrat', sans-serif;
  font-size: 70px;
  font-weight: lighter;
  text-transform: uppercase;
  opacity: 1;
  color: white;
  background: rgba(0, 0, 0, 0.60);
  padding-left: 8px;
  margin: 0;
}

.fade-in {
  opacity: 0;
  transition: opacity 250ms ease-in;
}

.fade-in.appear {
  opacity: 1;
}

.from-left {
  grid-column: 2 / 3;
  transform: translateX(-50%)
}

.from-right {
  grid-column: 3 / 4;
  transform: translateX(+50%)
}

/* backgrounds */

.about-wrapper {
  background-image: url("https://res.cloudinary.com/depkh8amy/image/upload/v1677276606/Beat%20Em%20Hub/about-bg_hxadrf.png");
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  width: 100%;
}

/* Page Banners */

.about-banner {
  padding-top: 70px;
  width: 100%;
  height: 400px;
  background-attachment: fixed;
}

.about-title {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  top: 20%;
}

#about-img {
  position: absolute
}

/* MEDIA QUERIES */

 /* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

    /* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 40px;
  }

  .text-wrapper p {
    font-size: 30px;
    }

  .text-wrapper {
    padding-left: 150px;
    padding-right: 150px;
  }

    #vid-wrapper {
      display: none;
    }

    .caption {
      font-size: 40px;
    }

    #about-img {
      width: 700px;
    }

}

    /* Hamburger Bar Media Query */

@media only screen and (max-width: 600px) {
  header nav {
    display: none;
  }

  #hamburger-icon {
    display: block;
  }

}

    /* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }

  h3 {
    font-size: 30px;
  }

  .text-wrapper p {
    font-size: 20px;
    }

  .text-wrapper {
    padding-left:  10px;
    padding-right: 10px;
  }

  .email {
    font-size: 30px;
    }

  .bgimg-1, .bgimg-1-bottom {
    background-size: 300px;
    height: 700px;
    background-attachment: scroll !important;
  }

  .bgimg-1-bottom {
    height: 600px;
  }

  .bgimg-2,
  .bgimg-4,
  .bgimg-5,
  .bgimg-6,
  .bgimg-7,
  .bgimg-8,
  .bgimg-9,
  .bgimg-10,
  .bgimg-11,
  .bgimg-3 {
    height: 380px;
    background-attachment: scroll !important;
    background-size: 700px;
  }

  #vid-wrapper {
    display: none;
  }

  #vid-wrapper-mobile {
    display: block;
  }

  .caption {
    font-size: 20px;
  }

  .open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    max-height: 240px;
    }

  .mobile-menu {
    display: none;
    position: flex;
    font-size: 20px;
    top: 00px;
    left: 0;
    width: 100%;
    background-color: black;
  }

  #about-img {
    width: 500px;
  }
}

 /* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 20px;
  }

  .text-wrapper p {
    font-size: 20px;
    }

  .text-wrapper {
    padding: 0px;
  }

  #vid-wrapper {
    display: none;
  }

  #vid-wrapper-mobile {
    display: block;
  }

  .caption {
    font-size: 20px;
  }

  .bgimg-1, .bgimg-1-bottom {
    background-size: 300px;
    height: 700px;
  }

  .bgimg-1
  .bgimg-2,
  .bgimg-4,
  .bgimg-5,
  .bgimg-6,
  .bgimg-7,
  .bgimg-8,
  .bgimg-9,
  .bgimg-10,
  .bgimg-11,
  .bgimg-3 {
    height: 380px;
    background-attachment: scroll !important;
    background-size: cover;
}

#about-img {
  width: 300px;
}
}
