@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Roboto&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400;500&display=swap");

@import url("components/navbar.css");
@import url("components/video.css");
@import url("components/images.css");
@import url("components/footer.css");
@import url("components/cards.css");
@import url("components/animations.css");

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  font-family: 'Kanit', sans-serif;
  font-weight: 300;
  color: white;
  background-color: black;
  min-height: 100%;
  overflow-x: hidden;
}

/* PAGE-SECTIONS */
.section2 {
  background-image: url("https://res.cloudinary.com/depkh8amy/image/upload/v1678981581/Beat%20Em%20Hub/Untitled_design_xhdgyt.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  }

.content-wrapper {
  padding: 100px;
}

/* *******TEXT********* */
.container {
  background-color: rgba(255,255,255,0);
  margin: auto;
  padding: auto;
  display: flex;
}

#border-bottom {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #D087DA 86.98%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
  height:20px;
}

#border-top {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #D087DA 86.98%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transform: matrix(1, 0, 0, -1, 0, 0);
  width: 100%;
  height:20px;
}

#event-border-top {
  background: linear-gradient(180deg, #000000 0%, #D087DA 86.98%, #000000 100%);

  width: 100%;
  height:50px;
}

#event-border-bottom {
  background: linear-gradient(180deg, #000000 0%, #D087DA 86.98%, #000000 100%);

  transform: matrix(1, 0, 0, -1, 0, 0);
  width: 100%;
  height:50px;
}

.text-wrapper {
  box-sizing: border-box;
  /* background-color: #000000; */
  text-align: center;
  position: relative;
  padding-left: 100px;
  padding-right: 100px;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 100%;
  display: block;
}

a{
  color: #0eebdc;
  text-decoration: none;
}

a:hover {
  color: #e678f4;
  transition: 0.3s;
}

h1 {
  font-family: 'Orbitron', sans-serif;
  font-size: 3em;
  text-transform: uppercase;
  color: #0eebdc;
  text-align: center;
  text-size-adjust: auto;
  padding: 0px 40px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h2 {
  padding: 40px 80px;
  font-family: 'Orbitron', sans-serif;
  font-size: 2em;
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h3 {
  padding-bottom: 40px;
  font-family: 'Orbitron', sans-serif;
  font-size: 3em;
  color: #0eebdc;
  margin: auto;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h4 {
  padding-bottom: 40px;
  font-family: 'Orbitron', sans-serif;
  font-size: 30px;
  color: #0eebdc;
  margin: auto;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h5 {
  font-size: 25px;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

p {
  margin: 0px 20px;
  font-family: 'Kanit', sans-serif;
  font-size: 1.8em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

p2 {
  font-size: 30px;
  /* font-style: italic; */
  font-family: 'Kanit', sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

p3 {
  /* font-style: italic; */
  font-family: 'Kanit', sans-serif;
  font-weight: 100;
  font-size: 15px;
  display: block;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.services-container {
  columns: 2;
  column-gap: 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.services-container li {
color: white;
font-weight:lighter;
list-style:square;
line-height: 1.3em;
text-align: left;
font-size: 1.5em;
}

.fade-in {
  opacity: 0;
  transition: opacity 250ms ease-in;
}

.fade-in.appear {
  opacity: 1;
}

.from-left {
  grid-column: 2 / 3;
  transform: translateX(-50%)
}

.from-right {
  grid-column: 3 / 4;
  transform: translateX(+50%)
}

/* backgrounds */

.about-wrapper {
  background-image: url("https://res.cloudinary.com/depkh8amy/image/upload/v1677602781/Beat%20Em%20Hub/about-bg2_dm0pmy.png");
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;
  /* height: 80vh; */
}

/* Page Banners */

.about-banner {
  padding-top: 70px;
  width: 100%;
  height: 30vh;
  background-attachment: fixed;
}

.about-title {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  top: 20%;
}

#about-img {
  position: absolute;
  width: 60vw;
}

/* MEDIA QUERIES */

@media only screen and (max-width : 1326px) {

  .photo_grid {
    width: 60%;
  }
}

 /* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  #about-img {
    width: 70%;
  }

  .tilesWrap {
    display: block;
  }

  /* text-shadow: text-shadow: .about-title;; */
  /* text-shadow: text-shsadow: ;; */

  .caption {
    font-size: 20px;
  }

  .bgimg-2,
  .bgimg-4,
  .bgimg-5,
  .bgimg-6,
  .bgimg-7,
  .bgimg-8,
  .bgimg-9,
  .bgimg-10,
  .bgimg-11,
  .bgimg-3 {
    height: 100px;
    background-attachment: scroll !important;
    width: 100%;
  }

}

    /* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.3em;
    padding-left: 10px;
    padding-right: 10px;
  }

  h3 {
    font-size: 1.2em;
  }

  .text-wrapper p {
    font-size: 30px;
    }

  .text-wrapper {
    padding-left: 150px;
    padding-right: 150px;
  }

    #vid-wrapper {
      display: none;
    }

    .caption {
      font-size: 20px;
    }

    #about-img {
      width: 70%;
    }

    .tilesWrap {
      display: block;
    }

    .container3{
      display: grid;
      grid: none;
    }

    .bgimg-2,
    .bgimg-4,
    .bgimg-5,
    .bgimg-6,
    .bgimg-7,
    .bgimg-8,
    .bgimg-9,
    .bgimg-10,
    .bgimg-11,
    .bgimg-3 {
      height: 100px;
      background-attachment: scroll !important;
      width: 100%;
    }

}

    /* Hamburger Bar Media Query */

@media only screen and (max-width: 600px) {
  header nav {
    display: none;
  }

  #hamburger-icon {
    display: block;
  }

  .open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    max-height: 240px;
    }

  .mobile-menu {
    display: none;
    position: flex;
    font-size: 20px;
    top: 00px;
    left: 0;
    width: 100%;
    background-color: #2C1546;
  }

  #about-img {
    width: 70%;
  }

  .caption {
    font-size: 20px;
  }

  .tilesWrap {
    display: block;
  }

  .tilesWrap li h2 {
    right: 45%;
  }

  .container3{
    display: grid;
    grid: none;
  }

  .bgimg-2,
  .bgimg-4,
  .bgimg-5,
  .bgimg-6,
  .bgimg-7,
  .bgimg-8,
  .bgimg-9,
  .bgimg-10,
  .bgimg-11,
  .bgimg-3 {
    height: 100px;
    background-attachment: scroll !important;
    width: 100%;
  }

  #gg {
    width: 20em;
    margin: auto auto;
  }

}

    /* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

p2 {
  font-size: 15px;
}

.text-wrapper a {
  font-size: 20px;
}

  h1 {
    font-size: 1.2em;
  }

  h2 {
    font-size: 1em;
    padding-left: 10px;
    padding-right: 10px;
  }

  h3 {
    font-size: 1.2em;
  }

  .text-wrapper p {
    font-size: 20px;
    }

  .text-wrapper {
    padding-left:  10px;
    padding-right: 10px;
    margin: 5% auto;
  }

  .email {
    font-size: 30px;
    }

    .footer-container {
      display: block;
  }

  .footer-left {
    width: 100%;
    padding-bottom: 20px;
}

  h4 {
    font-size: 8px;
  }

  h5 {
    padding: 0px;
  }

  .bgimg-1, .bgimg-1-bottom {
    background-size: 800px;
    /* height: 1000px; */
    background-position: center center;
    background-attachment: scroll !important;
    overflow-x: hidden;
  }

  .bgimg-2,
  .bgimg-4,
  .bgimg-5,
  .bgimg-6,
  .bgimg-7,
  .bgimg-8,
  .bgimg-9,
  .bgimg-10,
  .bgimg-11,
  .bgimg-3 {
    height: 380px;
    background-attachment: scroll !important;
    background-size: 700px;
  }

  .mobile-images {
    display: contents;
  }

  #gg {
    width: 20em;
    margin: auto auto;
  }

  .section2 {
    display: none;
  }

  .content-wrapper {
    padding: 10px;
  }

  .video-wrapper {
    padding: 0px;
  }

  #vid-wrapper {
    display: none;
  }

  #vid-wrapper-mobile {
    display: block;
  }

  .caption {
    font-size: 15px;
    width: 80%;
  }

  .open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    max-height: 240px;
    }

  .mobile-menu {
    display: none;
    position: flex;
    font-size: 20px;
    top: 00px;
    left: 0;
    width: 100%;
    background-color: #2C1546;
  }

  #about-img {
    width: 100vw;
  }

  /* media about page */

  .about-wrapper {
    background-image: url("https://res.cloudinary.com/depkh8amy/image/upload/v1677602781/Beat%20Em%20Hub/about-bg2_dm0pmy.png");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
  }

  .about-banner {
    height: 200px;
  }

  .tilesWrap {
    display: block;
  }

  .tilesWrap li h2 {
    right: 45%;
  }

  .container3{
    display: grid;
    grid: none;
  }

.wrapper2 {
  height: 25rem;
  margin-bottom: 10%;
}

/* media services page */
.services-container {
display: grid;
justify-content: center;
}

.services-container li {
  font-size: 1.2em;
  font-weight: bolder;
  list-style-type: none;
  text-align: center;
}

/* REFERENCES MEDIA QUERIES */
.slider .slide-track-1 {
  width: 2000px;
}

 /* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {


  .text-wrapper p {
    font-size: 20px;
    }

  .text-wrapper {
    padding: 0px;
  }

  #vid-wrapper {
    display: none;
  }

  #vid-wrapper-mobile {
    display: block;
  }

  .caption {
    font-size: 20px;
  }

  .bgimg-1, .bgimg-1-bottom {
    background-size: 600px;
    height: 800px;
    background-attachment: scroll !important;
  }

  .bgimg-1
  .bgimg-2,
  .bgimg-4,
  .bgimg-5,
  .bgimg-6,
  .bgimg-7,
  .bgimg-8,
  .bgimg-9,
  .bgimg-10,
  .bgimg-11,
  .bgimg-3 {
    height: 380px;
    background-attachment: scroll !important;
    background-size: cover;
}

 /* media about page */

.about-wrapper {
  background-image: url("https://res.cloudinary.com/depkh8amy/image/upload/v1677602781/Beat%20Em%20Hub/about-bg2_dm0pmy.png");
  background-size: cover;
  background-attachment: fixed;
}

.about-banner {
  height: 200px;
}

.tilesWrap {
  display: block;
}

.tilesWrap li h2 {
  right: 45%;
}

.container3{
  display: grid;
  grid: none;
}

.wrapper2 {
  height: 25rem;
}

#about-img {
  width: 300px;
}

.footer-container {
  display: block;
}

.footer-left {
width: 100%;
padding-bottom: 20px;
}

h5 {
padding: 0px;
}
}}
