*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.boxed-wrapper {
  display: block;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  font-family: 'Kanit', sans-serif;
  font-weight: 300;
  color: white;
  background-color: black;
  min-height: 100%;
  overflow-x: hidden;
}

/********************** STYLING OF HEADER **********************/

header a {
  text-decoration: none;
}

header {
  position: fixed;
  background: transparent;
  height: 40px;
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  z-index: 1000;
  transition: 0.6s;
  font-weight: bolder;
  width: 100%;
}

/* navbar style */

.beh-nav {
  width: 100%;
}

ul {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding: 00px 20px;
}

ul a {
  color: white;
  width: 100%;
}

ul li {
  padding: 5px;
  margin-left: 10px;
}

ul li:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.sticky {
  padding: 20px 00px;
  background: black;
  /* opacity: 0.7; */
  transition: 0.3s;
  width: 100%;
}

.sticky ul li a {
  color: white;
  font-weight: bolder;
}

.sticky ul li a:hover {
  color: #e678f4;
  transition: 0.5s;
}

/* Mobile Nav */

#hamburger-icon {
  margin: auto 0;
  display: none;
  cursor: pointer;
}

#hamburger-icon div {
  width: 35px;
  height: 3px;
  background-color: white;
  margin: 6px 20px;
  transition: 0.6s;
}

.open .bar1 {
-webkit-transform: rotate(-180deg) translate(-6px, 6px);
transform: rotate(-180deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
-webkit-transform: rotate(180deg) translate(-6px, -8px);
transform: rotate(180deg) translate(-6px, -8px);
}

.open .mobile-menu {
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-start;
/* set for pushing down content */
max-height: 350px;
}

.mobile-menu {
  display: none;
  position: flex;
  font-size: 40px;
  top: 50px;
  left: 0;
  height: calc(100vh - 30px);
  width: 100%;
  background-color: black;
}

/* social icons */

#social-icons {
padding-right: 20px;
}

.icons {
  color: white;
  font-size: 25px;
}

.list-inline {
  list-style: none;
}

.list-inline li {
  display: inline-block;
  padding: 0px;
}

.list-inline i {
  font-size: 50px;
  color: #B7C4CF;
}
.list-inline i:hover {
  color: rgb(148, 8, 164);
}

@media only screen and (max-width: 600px) {
  header nav {
    display: none;
  }

  #hamburger-icon {
    display: block;
  }
}

/******************************** END OF HEADER ********************************/
#vid-wrapper {
  display: none;
  box-sizing: border-box;
  padding-top: 30px;
}

/* *********Images************* */

.bgimg-1 {
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  align-items: center;
  background-attachment: fixed;
}
.bgimg-2,
.bgimg-4,
.bgimg-5,
.bgimg-6,
.bgimg-7,
.bgimg-8,
.bgimg-9,
.bgimg-10,
.bgimg-11,
.bgimg-3 {
  height: 900px;
  position:relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* .img-box {
  display: block;
  align-items: center;
  background-attachment: fixed;
  height: 800px;
  background: transparent;
} */

.bgimg-1 {
  background-image: url("https://github.com/ThiefinaboX/beatemhub/blob/images-do_not_delete/docs/Logo.png?raw=true");
  background-size: 50%;
  height: 800px;
}

.bgimg-2 {
  background-image: url("https://github.com/ThiefinaboX/beatemhub/blob/images-do_not_delete/docs/indie1.PNG?raw=true");
}

.bgimg-3 {
  background-image: url("https://github.com/ThiefinaboX/beatemhub/blob/images-do_not_delete/docs/indie2.PNG?raw=true");
}

.bgimg-4 {
  background-image: url("https://github.com/ThiefinaboX/beatemhub/blob/images-do_not_delete/docs/Indie3.PNG?raw=true");
}

.bgimg-5 {
  background-image: url("https://github.com/ThiefinaboX/beatemhub/blob/images-do_not_delete/docs/vrjoris.PNG?raw=true");
}

.bgimg-6 {
  background-image: url("https://github.com/ThiefinaboX/beatemhub/blob/images-do_not_delete/docs/Magic.PNG?raw=true");
}

.bgimg-7 {
  background-image: url("https://github.com/ThiefinaboX/beatemhub/blob/images-do_not_delete/docs/Magic2.PNG?raw=true");
}

.bgimg-8 {
  background-image: url("https://github.com/ThiefinaboX/beatemhub/blob/images-do_not_delete/docs/Tournaments.png?raw=true");
}
.bgimg-9 {
  background-image: url("https://github.com/ThiefinaboX/beatemhub/blob/images-do_not_delete/docs/Highscore.png?raw=true");

}
.bgimg-10 {
  background-image: url("https://github.com/ThiefinaboX/beatemhub/blob/images-do_not_delete/docs/Festivals.png?raw=true");
}

/* *******TEXT********* */
.container {
  background-color: rgba(255,255,255,0);
  margin: auto;
  width: auto;
  padding: auto;
}

.text-wrapper {
  display: block;
  box-sizing: border-box;
  background-color: #000000;
  text-align: center;
  position: relative;
  padding-left: 200px;
  padding-right: 200px;
}

/* .text-wrapper p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;

} */

h1 {
  font: 70px 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: #0eebdc;
  text-align: center;
  text-size-adjust: auto;
  padding: 00px 40px;
}

h2 {
  padding: 40px 80px;
  font: 40px 'Montserrat', sans-serif;
  color: white;
  font-weight: bold;
}

h3 {
  padding: 40px 00px;
  font: 50px 'Montserrat', sans-serif;
  color: #0eebdc;
  margin: auto;
}

p {
  margin: 00px 20px;
  font: 40px 'Montserrat', sans-serif;

}

.caption {
  margin: auto;
  letter-spacing: 8px;
  font: 'Montserrat', sans-serif;
  font-size: 80px;
  font-weight: lighter;
  text-transform: uppercase;
  position: relative;
  left: 0;
  top: 40%;
  width: 100%;
  opacity: 1;
  text-align: center;
  color: white;
}

/* **********footer********** */

#email-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;

}

.email {
  font: 40px 'Kanit', sans-serif;
  display: block;
  text-align: center;
  justify-content: center;
  align-items:center;
  font-weight: lighter;
  padding-top: 12%;
  margin: 0px 40px;
}

a{
  color: #0eebdc;
  text-decoration: none;
}

a:hover {
  color: #e678f4;
  transition: 0.5s;
}

.footer {
  background: rgba(45, 44, 44, 0);
  color: #0eebdc;
  font-style: italic;
  height: 40px;
  font-size: 20px;
}
.center {
  text-align: center;
  padding: 30px 0;
}

/* Media Queries */

 /* Custom, iPhone Retina */
 @media screen and (min-width : 320px) {
    h1 {
      font-size: 20px;
    }

    h2 {
      font-size: 20px;
    }

    h3 {
      font-size: 20px;
    }

  .text-wrapper p {
    font-size: 20px;
    }

    .text-wrapper {
      padding: 0px;
    }

    #vid-wrapper {
      display: none;
    }

    .caption {
      font-size: 30px;
    }
}

/* Extra Small Devices, Phones */
@media screen and (min-width : 480px) {

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 30px;
  }

  .text-wrapper p {
    font-size: 20px;
    }

  .text-wrapper {
    padding-left:  50px;
    padding-right: 50px;
  }

  .email {
    font-size: 30px;
    }

  img.bgimg-1,
  img.bgimg-2,
  img.bgimg-4,
  img.bgimg-5,
  img.bgimg-6,
  img.bgimg-7,
  img.bgimg-8,
  img.bgimg-9,
  img.bgimg-10,
  img.bgimg-11,
  img.bgimg-3 {
  width: 300px;
  /* background-size: auto !important;
  background-position: center !important; */
}

  #vid-wrapper {
    display: none;
  }

  .caption {
    font-size: 40px;
  }
}

  /* Small Devices, Tablets  */
  @media screen and (min-width : 768px) {
    h1 {
      font-size: 50px;
    }

    h2 {
      font-size: 40px;
    }

    h3 {
      font-size: 50px;
    }

    .text-wrapper p {
      font-size: 40px;
      }

    .text-wrapper {
      padding-left: 150px;
      padding-right: 150px;
    }

      #vid-wrapper {
        display: block;
      }

      .caption {
        font-size: 80px;
      }

  }

 /* Medium Devices, Desktops */
@media screen and (min-width : 992px) {

    h1 {
      font-size: 50px;
    }

    h2 {
      font-size: 40px;
    }

    h3 {
      font-size: 50px;
    }

  .text-wrapper p {
    font-size: 40px;
    }

    .text-wrapper {
      padding-left: 200px;
      padding-right: 200px;
    }

    #vid-wrapper {
      display: block;
    }

    .caption {
      font-size: 80px;
    }

  }
