/* #email-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  padding-bottom: 00px;
} */

.center-footer {
  background-color: #2C1546;
  text-align: center;
  padding: 40px 40px;
}

.footer-container {
display: block;
}

.footer-left {
  text-align: center;
  display: block;

}

#email {
  font-family: 'Orbitron', sans-serif;
  font-size: 1.2em;
  padding: 10px 0px;
}

.footer-right {
  display: block;
}

.center-footer p {
  background: #2C1546;
  color: white;
  font-size: 15px;
  font-weight: lighter;
}

#social-icons-bot {
  display: inline-block;
}
