/* #email-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  padding-bottom: 00px;
} */

.center-footer {
  background-color: #2C1546;
  text-align: center;
  padding: 40px 40px;
}

.footer-container {
display: inline-flex;
}

.footer-left {
  text-align: center;
  display: block;
  width: 50%;
}

h5 {
  font-size: 25px;
  text-align: center;
  padding-right: 15px;
}

.footer-right {
  display: block;
}

.center-footer p {
  background: #2C1546;
  color: white;
  font-size: 15px;
  font-weight: lighter;
}

p2 {
  color: white;
  font-style: italic;
  font-size: 15px;
  display: block;
}
