.bgimg-1, .bgimg-1-bottom {
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  align-items: center;
  background-attachment: fixed;
}

.bgimg-2,
.bgimg-4,
.bgimg-5,
.bgimg-6,
.bgimg-7,
.bgimg-8,
.bgimg-9,
.bgimg-10,
.bgimg-11,
.bgimg-3 {
  height: 800px;
  position:relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  display: flex;
}

.bgimg-1, .bgimg-1-bottom {
  background-image: url("https://github.com/ThiefinaboX/beatemhub/blob/images-do_not_delete/docs/Logo.png?raw=true");
  background-size: 50%;
  height: 800px;
}

.bgimg-2 {
  background-image: url("https://github.com/ThiefinaboX/beatemhub/blob/images-do_not_delete/docs/indie1.PNG?raw=true");
}

.bgimg-3 {
  background-image: url("https://github.com/ThiefinaboX/beatemhub/blob/images-do_not_delete/docs/indie2.PNG?raw=true");
}

.bgimg-4 {
  background-image: url("https://github.com/ThiefinaboX/beatemhub/blob/images-do_not_delete/docs/Indie3.PNG?raw=true");
}

.bgimg-5 {
  background-image: url("https://github.com/ThiefinaboX/beatemhub/blob/images-do_not_delete/docs/vrjoris.PNG?raw=true");
}

.bgimg-6 {
  background-image: url("https://github.com/ThiefinaboX/beatemhub/blob/images-do_not_delete/docs/Magic.PNG?raw=true");
}

.bgimg-7 {
  background-image: url("https://github.com/ThiefinaboX/beatemhub/blob/images-do_not_delete/docs/Magic2.PNG?raw=true");
}

.bgimg-8 {
  background-image: url("https://github.com/ThiefinaboX/beatemhub/blob/images-do_not_delete/docs/Tournaments.png?raw=true");
}
.bgimg-9 {
  background-image: url("https://github.com/ThiefinaboX/beatemhub/blob/images-do_not_delete/docs/highscore1.png?raw=true");
}
.bgimg-10 {
  background-image: url("https://github.com/ThiefinaboX/beatemhub/blob/images-do_not_delete/docs/Festivals.png?raw=true");
}
