.bgimg-1, .bgimg-1-bottom {
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  align-items: center;
  background-attachment: fixed;
}

.bgimg-2,
.bgimg-4,
.bgimg-5,
.bgimg-6,
.bgimg-7,
.bgimg-8,
.bgimg-9,
.bgimg-10,
.bgimg-3 {
  height: 800px;
  position:relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  display: flex;
}

.bgimg-1, .bgimg-1-bottom {
  background-image: url("https://github.com/ThiefinaboX/beatemhub/blob/main/docs/Logo.jpeg?raw=true");
  background-size: 50%;
  height: 100vh;
}

.bgimg-2 {
  background-image: url("https://github.com/ThiefinaboX/beatemhub/blob/main/docs/hux-vr.jpg?raw=true");
}

.bgimg-4 {
  background-image: url("https://github.com/ThiefinaboX/beatemhub/blob/main/docs/hux-indie.png?raw=true");
}

.bgimg-5 {
  background-image: url("https://github.com/ThiefinaboX/beatemhub/blob/main/docs/Festivals.png?raw=true");
}
.bgimg-6 {
  background-image: url("https://github.com/ThiefinaboX/beatemhub/blob/main/docs/MTG.PNG?raw=true");
}

.bgimg-8 {
  background-image: url("https://github.com/ThiefinaboX/beatemhub/blob/main/docs/Tournaments.png?raw=true");
}
.bgimg-9 {
  background-image: url("https://github.com/ThiefinaboX/beatemhub/blob/main/docs/high%20score.png?raw=true");
}
.bgimg-10 {
  background-image: url("https://github.com/ThiefinaboX/beatemhub/blob/main/docs/hux-retro.png?raw=true");
}
