.bgimg-1, .bgimg-1-bottom {
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  align-items: center;
  background-attachment: fixed;
  overflow-x: hidden;
}

.video-wrapper {
  background-color: black;
  width: auto;
  height: auto;
  padding: 100px;
  /* display: flex;
  align-items: center;
  position: static; */
}

.video {
  margin: auto auto;
}

.bgimg-2,
.bgimg-4,
.bgimg-5,
.bgimg-6,
.bgimg-7,
.bgimg-8,
.bgimg-9,
.bgimg-10,
.bgimg-3 {
  height: 30vh;
  width: 35vw;
  position:relative;
  /* background-attachment: fixed; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  overflow-x: hidden;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.bgimg-1, .bgimg-1-bottom {
  background-image: url("https://res.cloudinary.com/depkh8amy/image/upload/v1686849375/Beat%20Em%20Hub/bg_1_wzs5hm.png");
  width: 100%;
  height: 100vh;
}

.bgimg-2 {
  background-image: url("https://github.com/ThiefinaboX/beatemhub/blob/main/docs/hux-vr.jpg?raw=true");
}

.bgimg-4 {
  background-image: url("https://github.com/ThiefinaboX/beatemhub/blob/main/docs/hux-indie.png?raw=true");
}

.bgimg-5 {
  background-image: url("https://github.com/ThiefinaboX/beatemhub/blob/main/docs/Festivals.png?raw=true");
}
.bgimg-6 {
  background-image: url("https://github.com/ThiefinaboX/beatemhub/blob/main/docs/MTG.PNG?raw=true");
}

.bgimg-8 {
  background-image: url("https://github.com/ThiefinaboX/beatemhub/blob/main/docs/Tournaments.png?raw=true");
}
.bgimg-9 {
  background-image: url("https://github.com/ThiefinaboX/beatemhub/blob/main/docs/high%20score.png?raw=true");
}
.bgimg-10 {
  background-image: url("https://github.com/ThiefinaboX/beatemhub/blob/main/docs/hux-retro.png?raw=true");
}

.mobile-images {
  display: none;
}

/* EVENTS */
#gg {
  width: 40em;
  margin: -5em auto;
}

/* REFERENCES */

.photo_grid {
  display: block;
  width: 80%;
  margin: auto auto;
}

.media_net_portrait {
  height: 30em;
  max-width: 100vw  ;
}

.media_net_landscape {
  height: 20em;
  max-width: 100vw;
}
